{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "printWidth": 140,
    "arrowParens": "always",
    "experimentalTernaries": true,
    "prettierLast": true
}
