.avatar-mini {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
    background-color: var(--green);
    border-radius: 50%;
    color: white;
}

&__avatar-img {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    overflow: clip;
}
