<a class="chat__link" href="#">
    {{{ avatarMini }}}
    <div class="chat__row-title flex-row">
        <div class="chat__title title-13-bold dots">Вася</div>
        <div class="chat__title-right text-9">Вт</div>
    </div>
    <div class="chat__row-subtitle flex-row">
        <div class="chat__subtitle text-9 dots-two">Привет! Это сообщение которое отправил Вася вчера поздно ночью писал очень много что пальчики устали</div>
        <div class="chat__subtitle-right badge">9</div>
    </div>
</a>
