.main-page {
    justify-content: start;

    .page-title.page__title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .link {
        font-size: 20px;
        line-height: 20px;
    }
}
