<div class="page page-center profile">
    <div class="profile__wrap">
        {{> PageTitle title="Профиль" class="profile__title"}}
        {{> Avatar image=profile.image class="profile__avatar" }}
        <h3 class="profile__user-name">{{profile.userName}}</h3>

        <div class="profile__fields">
            {{#each profile.fields}}
                <div class="profile__field">
                    <div class="profile__field-name">{{this.name}}</div>
                    <div class="profile__field-value">{{this.value}}</div>
                </div>
            {{/each}}
        </div>

        {{> Link class="profile__link" href=profile.editLink.href dataPage=profile.editLink.dataPage linkName=profile.editLink.name }}
    </div>
</div>
