<div class="modal-container show">
    <div class="modal">
        <div class="modal__title title-15-bold">{{ title }}</div>
        <div class="modal__body">{{{ body }}}</div>
        <div class="modal__actions">
            {{{ submitBtn }}}
            {{#if isShowCancel }}
                {{{ cancelBtn }}}
            {{/if }}
        </div>
    </div>
</div>