.avatar {
    width: 34px;
    height: 34px;
    border-radius: 1000px;

    &__empty {
        background-color: var(--gray-900);
    }
    
    &__image {
        width: 100%;
        height: auto;
        border-radius: 1000px;
        background-size: cover;
        background-position: center;
    }
  }
