.avatar {
    width: 34px;
    height: 34px;
    border-radius: 1000px;

    &__empty {
        width: inherit;
        height: inherit;

        &-svg {
            width: inherit;
            height: inherit;
        }
    }

    &__image {
        width: inherit;
        height: auto;
        border-radius: 1000px;
        background-size: cover;
        background-position: center;
    }
}
