:root {
    --blue: #3369F3;
    --blue-hover: #6590F9;
    --white: #fff;
    --gray-900: #EFEFEF;
    --gray-700: #ccc;
    --gray-600: #999;
    --gray-300: #333;
    --gray-100: #1E1E1E;
    --error: #ff2f2f;
}
